

.export-buttons{
  padding: 1.5rem;
  margin: auto;
  width: 50%;
}

.export-button {
  margin: 10px;
}

  .mat-header-cell{
    margin: 20px;
    font-weight: bolder;
    font-size: 1.3rem;
  }

  .mat-row ,.mat-header-row{
    height: auto;
  }
  
  .mat-cell,.mat-header-cell {
    padding: 18px 18px 18px 18px;
    margin: 10px 10px 10px 10px;
    text-align: center;
  }

  table {
    width: 100%;
  }

  .tableData {
    padding: 5rem;
  }

  .scanned-data {
    padding: 5rem;
  }
  
  

 