<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile colspan="1" rowspan="4">
    <div fxLayout="row" fxLayoutAlign="center center" class="zxing-scanner">
      <div *ngIf="isEnabled" >
        <zxing-scanner [enable]="isEnabled" [torch]="torchEnabled" [device]="deviceCurrent"
        (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder"
        (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)"
        (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <div class="control-padding">
      <button *ngIf="!isEnabled" mat-stroked-button (click)="scan()" color="primary">
        Start Barcode Scan
      </button>
      <button *ngIf="isEnabled" mat-stroked-button (click)="stop()" color="primary">
        Stop Barcode Scan
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>