<div class="admin-dialog">
    <form [formGroup]="signInForm">
        <mat-form-field *ngIf="login" appearance="standard" fxFlex>
            <input matInput [(ngModel)]="pincode" maxlength="4" placeholder="Enter Pin" formControlName="enter"
                type="text" required>
            <mat-error>
                Pin is required!
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!login" appearance="standard" fxFlex>
            <input matInput [(ngModel)]="pincode" maxlength="4" placeholder="Create Pin" formControlName="enter"
                type="text" required>
            <mat-error>
                Pin is required!
            </mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="standard">
        <input *ngIf="!login" type="text" [formControl]="createFormControl" required maxlength="4"
            [(ngModel)]="pincode" matInput placeholder="Create Pin"/>
            <input *ngIf="login" [formControl]="enterFormControl" type="text" required maxlength="4" [(ngModel)]="pincode" matInput placeholder="Enter Pin"/>
            <mat-error *ngIf="enterFormControl.invalid">Enter pin is required</mat-error> 
            <mat-error *ngIf="createFormControl.touched && createFormControl.invalid">Create pin is required</mat-error>  
    </mat-form-field><br> -->
    </form>
    <mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button mat-dialog-close [mat-dialog-close]="pincode">Submit</button>
    </mat-dialog-actions>
</div>